.profile {
    display: flex;
    height: 100%;

    .profile-details {
        flex: 3;
        overflow: auto;
        padding-bottom: 50px;

        .wrapper {
            padding-right: 50px;
            display: flex;
            flex-direction: column;
            gap: 50px;

            .title {
                display: flex;
                align-items: center;
                justify-content: space-between;

                h3 {
                    font-weight: 500;
                }

                button {
                    padding: 10px;
                    border-radius: 5px;
                    border: none;
                    cursor: pointer;
                    background-color: #222831;
                    color: white;
                }

            }

            .info {
                display: flex;
                flex-direction: column;
                gap: 20px;

                span {
                    display: flex;
                    align-items: center;
                    gap: 10px;
                }

                img {
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    object-fit: cover;
                }
            }
        }
    }

    .profile-chat {
        flex: 2;
        background-color: #222831;

        .wrapper {
            padding: 0px 20px;
        }
    }
}